In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2021-08-01 09:50:11,-46.1927,168.8643,43.48,98,100,2.64
1,1,Castro Verde,PT,2021-08-01 09:50:11,37.6983,-8.0858,69.22,40,45,15.70
2,2,Rikitea,PF,2021-08-01 09:50:12,-23.1203,-134.9692,70.07,72,96,24.23
3,3,Grand Gaube,MU,2021-08-01 09:50:12,-20.0064,57.6608,75.60,66,1,11.01
4,4,Guerrero Negro,MX,2021-08-01 09:50:12,27.9769,-114.0611,70.61,83,6,7.29

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Grand Gaube,MU,2021-08-01 09:50:12,-20.0064,57.6608,75.60,66,1,11.01
5,5,Kapaa,US,2021-08-01 09:50:12,22.0752,-159.3190,80.92,78,40,1.99
6,6,Kashi,CN,2021-08-01 09:50:13,39.4547,75.9797,83.41,23,75,6.71
7,7,Seoul,KR,2021-08-01 09:48:42,37.5683,126.9778,85.39,72,90,2.30
11,11,Saskylakh,RU,2021-08-01 09:50:14,71.9167,114.0833,83.30,27,66,8.55
14,14,Saint-Pierre,RE,2021-08-01 09:50:15,-21.3393,55.4781,75.29,64,20,21.85
15,15,Dawei,MM,2021-08-01 09:50:16,14.0833,98.2000,79.88,86,100,7.25
21,21,Ixtapa,MX,2021-08-01 09:50:17,20.7000,-105.2000,80.22,88,100,3.53
24,24,Suntar,RU,2021-08-01 09:50:18,62.1444,117.6319,79.39,38,100,6.64
29,29,Muroto,JP,2021-08-01 09:50:20,33.2833,134.1500,84.24,79,96,4.36

In [14]:
preferred_cities_df.count()

City_ID       196
City          196
Country       193
Date          196
Lat           196
Lng           196
Max Temp      196
Humidity      196
Cloudiness    196
Wind Speed    196
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
3    Grand Gaube      MU     75.60 -20.0064   57.6608
5          Kapaa      US     80.92  22.0752 -159.3190
6          Kashi      CN     83.41  39.4547   75.9797
7          Seoul      KR     85.39  37.5683  126.9778
11     Saskylakh      RU     83.30  71.9167  114.0833
14  Saint-Pierre      RE     75.29 -21.3393   55.4781
15         Dawei      MM     79.88  14.0833   98.2000
21        Ixtapa      MX     80.22  20.7000 -105.2000
24        Suntar      RU     79.39  62.1444  117.6319
29        Muroto      JP     84.24  33.2833  134.1500

In [21]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
    "location": ""
}

In [24]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Grand Gaube,MU,75.60,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
5,Kapaa,US,80.92,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
6,Kashi,CN,83.41,39.4547,75.9797,帕米尔青年旅舍
7,Seoul,KR,85.39,37.5683,126.9778,롯데호텔 서울
11,Saskylakh,RU,83.30,71.9167,114.0833,
...,...,...,...,...,...,...
544,Teya,RU,77.38,60.3778,92.6267,
545,Miri,MY,87.94,4.4148,114.0089,"Mega Hotel, Miri"
548,Praia Da Vitoria,PT,76.75,38.7333,-27.0667,Hotel Branco I
552,At-Bashi,KG,79.00,41.1702,75.8106,Hostel At-Bashy
554,Salalah,OM,76.82,17.0151,54.0924,HAMDAN PLAZA HOTEL SALALAH

In [29]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

NameError: name 'hotel_info' is not defined

In [31]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [32]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [33]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))